.article-card {
  flex: 1;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 450px;
  line-height: 1.5rem;
  height: fit-content;
}

.article-card header {
  border-bottom: 1px solid var(--border-color);
  padding: var(--space);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.article-card header a {
  text-decoration: none;
}

.article-card main {
  width: inherit;
  align-items: center;
  padding: var(--space);
}

.article-card main img {
  width: 100%;
  border-radius: var(--border-radius);
  padding: 0;
  display: block;
}

/* Footer styling */
.article-card footer {
  border-top: 1px solid var(--border-color);
}

.article-card footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
}

.article-card footer ul li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 9px;
  background-color: var(--border-color);
  margin-left: 59px;
}

/* Combined has() selectors for cards with images */
.article-card:has(header) img {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.article-card:has(footer) img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.article-card:has(img) main {
  padding: 0;
}

.card-layout {
  display: flex;
  flex-direction: row;
  gap: var(--space);
}
